In [209]:
import pandas as pd

In [210]:
from selenium import webdriver #cria navegador
from selenium.webdriver.common.keys import Keys #permite vc escrever no navegador
from selenium.webdriver.common.by import By # selecionar itens no navegador

In [211]:
#vai abrir a janela do chrome automaticamente
navegador = webdriver.Chrome()

In [212]:
#entrar no google
navegador.get('https://www.google.com/')

In [213]:
navegador.find_element("xpath", '//*[@id="L2AGLb"]/div').click()

In [214]:
#pesquisar - esqcrever o que vai pesquisar:
navegador.find_element("xpath", '//*[@id="APjFqb"]').send_keys('cotação dolar')

In [215]:
#apertar o enter:
navegador.find_element("xpath", '//*[@id="APjFqb"]').send_keys(Keys.ENTER)

In [216]:
#pegar a cotação que esta no google:
cotacao_dolar = navegador.find_element('xpath', '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(cotacao_dolar)

0.9377449999999999

In [217]:
navegador.get('https://www.google.com/')

In [218]:
navegador.find_element("xpath", '//*[@id="APjFqb"]').click()

In [219]:
navegador.find_element("xpath", '//*[@id="APjFqb"]').send_keys('cotação real')

In [220]:
navegador.find_element("xpath", '//*[@id="APjFqb"]').send_keys(Keys.ENTER)

In [221]:
#pegar a cotação que esta no google:
cotacao_real = navegador.find_element('xpath', '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(cotacao_real)

0.19050177140000002

In [222]:
#fechar navegador
navegador.quit()

# Atualização da base de dados com os valores das moedas atualizados:

In [226]:
df = pd.read_excel('Produtos.xlsx')

In [227]:
display(df)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

In [230]:
#editar as colunas de cotação
df.loc[df['Moeda'] == 'Dólar', 'Cotação'] = float(cotacao_dolar)
df.loc[df['Moeda'] == 'Euro', 'Cotação'] = float(cotacao_real)

In [231]:
display(df)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,0.937745,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,0.190502,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,0.937745,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,0.937745,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,0.190502,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,0.937745,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350.000000,7000.00,1.15,8050.000

In [233]:
df['Preço de Compra'] = df['Cotação']*df['Preço Original']

In [234]:
df['Preço de Venda'] = df['Preço de Compra']*df['Margem']
display(df)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,0.937745,937.735623,1.40,1312.829872
1,Carro Renault,4500.00,Euro,0.190502,857.257971,2.00,1714.515943
2,Notebook Dell,899.99,Dólar,0.937745,843.961123,1.70,1434.733908
3,IPhone,799.00,Dólar,0.937745,749.258255,1.70,1273.739034
4,Carro Fiat,3000.00,Euro,0.190502,571.505314,1.90,1085.860097
5,Celular Xiaomi,480.48,Dólar,0.937745,450.567718,2.00,901.135435
6,Joia 20g,20.00,Ouro,350.000000,7000.000000,1.15,8050.000000

# Agora vamos exportar a nova base de preços atualizada:

In [235]:
#tabela.to_excel('Produtos Novo.xlsx', index=False)